<div class="container">
  <div class="row">

    <div class="col-md-2 offset-md-1 bg-light d-flex align-items-center justify-content-center">
      <h6>注文情報確認</h6>
    </div>

  </div>
</div>

<br>

<div class="container">
  <div class="row">

    <div class="col-md-8">
      <table border="2" class="table border border-dark">
        <tr>
          <th scope="col" style="width: 40%" class="bg-light">商品名</th>
          <th scope="col" style="width: 20%" class="bg-light">単価（税込）</th>
          <th scope="col" style="width: 20%" class="bg-light">数量</th>
          <th scope="col" style="width: 20%" class="bg-light">小計</th>
        </tr>

        <tr>
          <td><span>画像</span> チョコバナナミルフィーユ</td>
          <td>1,100</td>
          <td>1</td>
          <td>1,100</td>
      </table>
    </div>

    <div class="col-md-3 offset-md-1 ml-auto d-flex align-items-end">
      <table border="2" class="table border border-dark">
        <tr>
          <th scope="row" style="width: 50%" class="bg-light">送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th scope="row" style="width: 50%" class="bg-light">商品合計</th>
          <td>1,100</td>
        </tr>
        <tr>
          <th scope="row" style="width: 50%" class="bg-light">請求金額</th>
          <td>1,900</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless">

        <tr>
          <th scope="row" style="width: 10%">支払方法</th>
          <td>クレジットカード</td>
        </tr>

        <tr>
          <th scope="row" style="width: 10%">お届け先</th>
          <td>
            <span>〒15000041</span>
            <span>東京都渋谷区神南1丁目19-11 パークスクウェア 24階</span>
            <p>山田花子</p>
          </td>
        </tr>

      </table>

    </div>
  </div>
</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2  mx-auto">
      <button button type="button" class="btn btn-success"><strong>注文を確定する</strong></button>
    </div>
  </div>
</div>