<div class="container">
  <div class="row">

    <div class="col-md-2 bg-light d-flex align-items-center justify-content-center">
      <h6>ショッピングカート</h6>
    </div>

    <button button type="button" class="col-md-2 offset-md-8 btn btn-danger">
      カートを空にする
    </button>

</div>

<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">

        <table border="2" class="table border border-dark">

            <tr>
                <th scope="col", style="width: 40%">商品名</th>
                <th scope="col", style="width: 15%">単価（税込）</th>
                <th scope="col", style="width: 15%">数量</th>
                <th scope="col", style="width: 15%">小計</th>
                <th scope="col", style="width: 15%"></th>
            </tr>

            <tr>
                <td><span>画像</span> <span>チョコバナナミルフィーユ</span></td>
                <td>1,100</td>
                <td><span>1</span> <button button type="button"n class="btn btn-success">変更</button></td>
                <td>1,100</td>
                <td><button button type="button" class="btn btn-danger">削除する</button></td>
            </tr>

        </table>

    </div>
  </div>
</div>

<br>

<div class="container">
  <div class="row">

      <button button type="button" class="col-md-2 offset-md-1 btn btn-primary btn-sm">
        買い物を続ける
      </button>

    <div class="col-md-3 offset-md-6">
      <table border="2" class="table border border-dark">
          <tr>
            <th scope="row", style="width: 50%">合計金額</th>
            <td>1,100</td>
          </tr>
      </table>
    </div>

  </div>
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-2 mx-auto">
      <button  button type="button" class="btn btn-success">
        <strong>情報入力に進む</strong>
      </button>
    </div>
  </div>
</div>