<body>
<div class="container">

  <div class="row">
    <div class="col-md-3 offset-md-1 bg-light text-center">
      <h6>注文履歴詳細</h>
    </div>
  </div>

  <div>
    <div class="col-md-8">
      <table class="table table-borderless table-sm">
        <tr>
          <th scope="row">購入者</th>
          <td>山田花子</td>
        </tr>
        <tr>
          <th scope="row">注文日</th>
          <td>2019/11/20</td>
        </tr>
        <tr>
          <th scope="row">配送先</th>
          <td>〒150-0041 東京都渋谷区1丁目19－11 パークスクウエア24階<br>山田花子</td>
        </tr>
        <tr>
          <th scope="row">支払方法</th>
          <td>銀行振込</td>
        </tr>
        <tr>
          <th scope="row">注文ステータス</th>
          <td><span>入金待ち</span> <span>更新</span></td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="col-md-8">
          <table class="table table-borderless">
            <tr>
              <th class="bg-light" scope="col">商品名</th>
              <th class="bg-light" scope="col">単価（税込）</th>
              <th class="bg-light" scope="col">数量</th>
              <th class="bg-light" scope="col">小計</th>
              <th class="bg-light" scope="col">製作ステータス</th>
              <th class="bg-light" scope="col"></th>
            </tr>
            <tr>
              <td>洋ナシのチーズタルト</td>
              <td>1,320</td>
              <td>1</td>
              <td>1,320</td>
              <td>着手不可</td>
              <td>更新</td>
            </tr>
            <tr>
              <td>なめらかプリン</td>
              <td>220</td>
              <td>5</td>
              <td>1,100</td>
              <td>着手不可</td>
              <td>更新</td>
            </tr>
          </table>
      </div>

      <div class="col-md-3 offset-md-1 d-flex align-items-end">
          <table class="table table-borderless table-sm">
            <tr>
              <th scope="row">商品合計</th>
              <td>2,420円</td>
            </tr>
            <tr>
              <th scope="row">送料</th>
              <td>800円</td>
            </tr>
            <tr>
              <th scope="row">請求金額合計</th>
              <td><strong>3,220円</strong></td>
            </tr>
          </table>
      </div>

    </div>

  </div>



</div>